.common_mainPanel .topSpace{
	height: 20px;
}
.common_mainPanel .cartListBlock{
	float: right;
	width: 266px;
	border: 1px solid #ddd;
	font-size: 12px;
}

.common_mainPanel .cartListBlock .topInfoBar{
	height: 30px;
	line-height:30px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.common_mainPanel .cartListBlock .itemsBlock li{
	position: relative;
}
.common_mainPanel .cartListBlock .itemsBlock li img{
	position: absolute;
	top:10px;
	left: 20px;
}
.common_mainPanel .cartListBlock .itemsBlock li .paramCol{
	margin-left: 100px;
	margin-right:10px;
	min-height: 110px;
	padding-top:10px;
	font-size: 12px;
}
.common_mainPanel .cartListBlock .itemsBlock li .paramCol .number{
	color: #666;
	line-height: 32px;
}
.common_mainPanel .cartListBlock .viewAllRow{
	border-bottom: 1px solid #ddd;
	line-height: 40px;	
	text-align: center;
}
.common_mainPanel .cartListBlock .viewAllRow a{
	text-decoration: underline;
}
.common_mainPanel .cartListBlock .summaryTitleBar{
	text-align: center;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}
.common_mainPanel .cartListBlock .summaryBlock li{
	position: relative;
	padding: 10px 0 ;
}
.common_mainPanel .cartListBlock .summaryBlock li .label{
	margin-left:10px;
	width: 145px;
	text-align: right;
}
.common_mainPanel .cartListBlock .summaryBlock li .priceCol{
	position: absolute;
	top: 10px;
	right: 0;
	width: 85px;
}
.common_mainPanel .cartListBlock .summaryBlock .total {
	font-size: 14px;
	height: 44px;
	line-height: 44px;
	
	font-weight: bold;
	text-transform: uppercase;
}
.common_mainPanel .cartListBlock .summaryBlock .total .separator{
	border-top: 1px dotted #ddd;
	height: 0;
	margin: 0 20px;
}
.common_mainPanel .checkoutProcessBlock{
	
}
.common_mainPanel .checkoutProcessBlock{
	width: 680px;
}
.common_mainPanel .checkoutProcessBlock .titleRow{
	height: 31px;
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 0;
}
.common_mainPanel .checkoutProcessBlock li{
	padding-bottom: 10px;
}
.common_mainPanel .checkoutProcessBlock li .titleBar{
	position:relative;
	height: 40px;
	line-height: 40px;
	background-color: #ddd;
	overflow: hidden;
	color: #666;
}
.common_mainPanel .checkoutProcessBlock li .titleBar .stepNum{
	position:absolute;
	top:0;
	left:0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
.common_mainPanel .checkoutProcessBlock li .titleBar h2{
	height: 38px;
	line-height:38px;
	margin: 1px 1px 0 41px; 
	background-color: #fff;
	font-size: 14px;
	padding: 0 10px;
}
.common_mainPanel .checkoutProcessBlock li .titleBar a{
	position: absolute;
	top: 10px;
	
}











