header .top_logoBlockHolder{
	height: 40px;
	display: none;
}
.common_rightPanel .categoryBar{
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ddd;
	line-height: 32px;
}
.common_rightPanel .categoryBar a{
	display: inline-block;
	width: 100px;
	text-align: center;
	color: #666;
}
.common_rightPanel .categoryBar .current{
	position:relative;
	color: 	#333;
	border-bottom: 2px solid #333;
	margin-bottom: -2px;
	font-weight: bold;
}

.emptyMessage{
	height: 500px;
	line-height: 500px;
	font-size: 16px;
	text-align: center;
	background: #fff url("../../../img/customer/account/comment_empty_bg.jpg") no-repeat center center;
}

.common_rightPanel .commentBlock{
	border: 1px solid #ddd;
}
.common_rightPanel .commentBlock li {
	border-top: 1px solid #ddd;
}
.common_rightPanel .commentBlock li:first-child{
	border-top:none;
}
.common_rightPanel .commentBlock li .infoRow{
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
	line-height: 39px;
	height: 39px;
	padding: 0 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.common_rightPanel .commentBlock li .infoRow b{
	margin-right: 10px;
	font-weight: normal;
}
.common_rightPanel .commentBlock li  .submitRow{
	position: relative;
}
.common_rightPanel .commentBlock li  .submitRow img{
	position: absolute;
	left: 20px;
}
.common_rightPanel .commentBlock li  .submitRow .operationCol{
	margin: 0 24px 20px 110px;
	min-height: 125px;
	font-size: 12px;
}
.common_rightPanel .commentBlock li  .submitRow .operationCol p{
	margin-top: 20px;
	margin-right: -8px;
}
.common_rightPanel .commentBlock li  .submitRow .operationCol p i{
	margin: 0 4px;
	font-style: normal;
}
.common_rightPanel .commentBlock li  .submitRow .operationCol .label{
	color: #666;
	margin-top: 10px;
}
.common_rightPanel .commentBlock li  .submitRow .operationCol textarea{
	padding:4px;
	width: 100%;
	border: 1px solid #ddd;
	margin-top: 10px;
	height: 62px;
	resize: none;
}
.common_rightPanel .commentBlock li  .submitRow .operationCol .btnRow{
	text-align: right;
	margin-top: 10px;
}
.common_rightPanel .commentBlock li  .submitRow .operationCol .btnRow a{
	display:inline-block;
	width: 90px;
	height: 25px;
	line-height: 25px;
	background-color: #df4141;
	color: #fff;
	text-align: center;
	margin-right: -8px;
}

.common_rightPanel .pageBar{
	text-align: right;
	margin-top: 10px;
	font-size: 12px;
	line-height:24px;
	color: #666;
}
.common_rightPanel .pageBar .div{
	display: inline-block;
}
.common_rightPanel .pageBar a{
	display: inline-block;
	border: 1px solid #ccc;
	color: #666;
	width: 70px;
	height: 24px;
	text-align: center;
	margin-right: 10px;
}
.common_rightPanel .pageBar a:hover{
	color: #fff;
	background-color: #333;
}
.common_rightPanel .pageBar a i{
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url("../../../img/customer/icons.png");
}
.common_rightPanel .pageBar .pre i{
	background-position: -58px -9px;
	margin-right: 6px;
} 
.common_rightPanel .pageBar .next i{
	background-position: -58px 0;
	margin-left: 6px;
} 
.common_rightPanel .pageBar input{
	display: inline-block;
}
.common_rightPanel .pageBar input[type="text"]{
	width: 38px;
	height: 24px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 0 4px;
}
.common_rightPanel .pageBar input[type="submit"]{
	background-color: #fff;
	border: 1px solid #ccc;
	width: 50px;
	height: 24px;
	margin-left: 10px;
	cursor: pointer;
	color: #666;
}
.common_rightPanel .pageBar input[type="submit"]:hover{
	color: #fff;
	background-color: #333;
}
.common_rightPanel .shortcutBar{
	margin-top: 25px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ddd;
	line-height: 32px;
}
.common_rightPanel .shortcutBar a{
	display: inline-block;
	width: 100px;
	text-align: center;
	color: #666;
}
.common_rightPanel .shortcutBar .current{
	position:relative;
	color: 	#333;
	border-bottom: 2px solid #333;
	margin-bottom: -2px;
	font-weight: bold;
}
.common_rightPanel .moduleGroup .module{
	display: none;
	text-align: justify;
}
.common_rightPanel .moduleGroup .current{
	display: block;
}
.common_rightPanel .moduleGroup .module .item{
	display: inline-block;
	position: relative;
	margin-bottom: 10px; 
	overflow: hidden;
	width: 32.3%;
	max-width: 265px;
}
.common_rightPanel .moduleGroup .module .item img{
	width: 100%;
}

.common_rightPanel .moduleGroup .module .item .descriptBlock{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
.common_rightPanel .moduleGroup .module .item .descriptBlock a{
	color: #fff;
}
.common_rightPanel .moduleGroup .hot .item .descriptBlock,
.common_rightPanel .moduleGroup .history .item .descriptBlock{
	height: 65px;
	white-space: nowrap;
	bottom: 0;
	transition: all 0.25s ease-out 0s;
}
.common_rightPanel .moduleGroup .hot .item:hover .descriptBlock,
.common_rightPanel .moduleGroup .history .item:hover .descriptBlock{
	height: 95px;
}
.common_rightPanel .moduleGroup .hot .item .descriptBlock h3,
.common_rightPanel .moduleGroup .history .item .descriptBlock h3{
	font-size: 16px;
	margin: 5px 20px 0 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.common_rightPanel .moduleGroup .hot .item .descriptBlock h2,
.common_rightPanel .moduleGroup .history .item .descriptBlock h2{
	display:inline-block;
	font-size: 18px;
	margin: 6px 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-top:1px solid #fff;
}
.common_rightPanel .moduleGroup .hot .item .descriptBlock .more,
.common_rightPanel .moduleGroup .history .item .descriptBlock .more{
	display:block;
	margin-left: 15px;
	font-size: 12px;
}
.common_rightPanel .moduleGroup .hot .item .descriptBlock .more i,
.common_rightPanel .moduleGroup .history .item .descriptBlock .more i{
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../../../img/customer/icons.png) no-repeat -58px -18px;
	margin-right: 5px;
	cursor: pointer;
}
.common_mainPanel .bottomSpace{
	height: 120px;
}

@media only screen and (max-width: 785px) {
	
	.common_mainPanel .common_subNavBar,
	.common_pageContent .common_leftPanel,
	.common_rightPanel .shortcutBar,
	.common_rightPanel .moduleGroup,
	.common_rightPanel .commentBlock li .infoRow b{
		display: none;
	}
	.common_pageContent .common_rightPanel{
		margin-left: 0;
	}
	.common_rightPanel .categoryBar{
		height: 40px;
		line-height:40px;
		background-color: #545454;
		border-top:1px solid #999;
		border: none;
	}
	.common_rightPanel .categoryBar a{
		display: block;
		float: left;
		width: 33.33%;
		text-align: center;
		color: #aaa;
	}
	.common_rightPanel .categoryBar .current{
		background-color: #333;
		color: #fff;
		border: none;
	}
	
	.common_rightPanel .pageBar{
		height: 60px;
	    line-height: 40px;
	    margin-top: 10px;
	}
	.common_rightPanel .pageBar .div{
		width: 50%;
		float: left;
	}
	.common_rightPanel .pageBar .div a{
		display:block;
		border: 1px solid  #ccc;
		color: #666;
		text-align: center;
		margin-right: 10px;
		margin-left: 10px;
		background-color: #fff;
		height: auto;
		width: auto;
		font-size: 14px;
	}
	.common_rightPanel .pageBar .div:first-child a{
		margin-left:10px;
		margin-right: 10px;
	}
	.common_rightPanel .pageBar .div a:hover{
		color: #fff;
		background-color: #000;
	}
	.common_rightPanel .pageBar form>span,
	.common_rightPanel .pageBar form>input,
	.common_rightPanel .pageBar form i{
		display: none;
	}
	.common_mainPanel .bottomSpace{
		height: 20px;
	}
	header .top_logoBlockHolder{
		display: block;
	}
	.common_topNavigationBlock{
		position: fixed;
		left:auto;
		background: #000;
		top:0;
		width: 100%;
		z-index: 100;
	}
	
}


