.common_contentBlock h1{
	font-size: 16px;
	text-transform: uppercase;
}
.common_contentBlock .separator{
	height: 0;
	border-bottom: 1px solid #666;
	margin-top: 10px;
}
.common_contentBlock .container{
	 margin:35px; 
	 text-align:justify;
}

.common_contentBlock .container .block{
	display:inline-block;
	position: relative;
	border: 1px solid #ddd;
	height: 358px;
	width: 283px;
	vertical-align: top;
	text-align: center;
}

.common_contentBlock .container .block img{
	margin-top: 30px;
}
.common_contentBlock .container .block h2{
	font-size: 24px;
}
.common_contentBlock .container .block p{
	margin: 40px 60px 0 60px;
	height: 120px;
	text-align: left;
}
.common_contentBlock .container .block a{
	display: inline-block;
	background-color:#df4141;
	width: 135px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-radius:5px;
}
.common_contentBlock .container .block h3{
	font-size: 16px;
	color: #df4141;	
	line-height: 40px;
}

.common_mainPanel .mobileBlock{
	display: none;
	margin: 65px 30px;
}
.common_mainPanel .mobileBlock .warn{
	background-color: #f00;
}
.common_mainPanel .mobileBlock .inputRow{
	position: relative;
	height: 40px;
	line-height: 40px;
	border:1px solid #ccc;
	border-radius: 0 0 4px 4px;
	padding: 4px 80px 0 10px;
}
.common_mainPanel .mobileBlock .inputRow:first-child{
	border-radius: 4px 4px 0 0;
	border-bottom: none;
}
.common_mainPanel .mobileBlock .inputRow span{
	position:absolute;
	color: #ccc;
	left: 10px;
}
.common_mainPanel .mobileBlock .inputRow input{
	width: 100%;
	border: none;
	position: relative;
	background: none;
}
.common_mainPanel .mobileBlock .inputRow img{
	position:absolute;
	right: 10px;
	top: 6px;
}
.common_mainPanel .mobileBlock input[type="submit"]{
	height: 40px;
	line-height: 40px;
	background-color: #df4141;
	display: block;
	border: none;
	width: 100%;
	color: #fff;
	margin-top: 20px;
	border-radius: 5px;
}

@media only screen and (max-width: 960px) {
	.common_contentBlock .container{
		margin: 35px 10px;
	}
	.common_contentBlock .container .block{
		 width: 243px;
	}
}
@media only screen and (max-width: 785px) {
	html,body,.common_pageContent {
		height: 100%;
		min-height: 500px;
	}
	.normolBlock{
		display: none;
	}
	.common_mainPanel .mobileBlock{
		display: block;
	}
	.common_mainPanel .mobileBlock{
		margin: 0;
		padding: 35px 30px;
	}
	footer{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.common_pageContent{
		background-color: #fff;
	}

	
}











