.common_contentBlock h1{
	font-size: 16px;
	text-transform: uppercase;
}
.common_contentBlock .separator{
	height: 0;
	border-bottom: 1px solid #666;
	margin-top: 10px;
}
.common_contentBlock .container{
	 margin:35px; 
}

.common_contentBlock .container .block{
	position: relative;
	border: 1px solid #ddd;
	vertical-align: top;
	text-align: center;
	height: 125px;
	margin-bottom: 10px;
}

.common_contentBlock .container .block img{
	position:absolute;
	top:35px;
	left:45px;
}
.common_contentBlock .container .block .descriptBlock{
	margin: 0  200px 0 160px;
	text-align: left;
}
.common_contentBlock .container .block .descriptBlock h2{
	font-size: 16px;
	margin-top: 35px;
}
.common_contentBlock .container .block .descriptBlock p{
	margin-top: 5px;
}

.common_contentBlock .container .block .operationBlock{
	position:absolute;
	top:0;
	right:0;
	height: 125px;
	line-height:125px;
	width: 200px;
}
.common_contentBlock .container .block .operationBlock h3{
	font-size: 16px;
	color: #df4141;	
	line-height: 40px;
	display: inline-block;
}
.common_contentBlock .container .block .operationBlock a{
	display: inline-block;
	background-color:#df4141;
	width: 135px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-radius:5px;
}

.bottomSpace{
	height: 120px;
}
@media only screen and (max-width: 785px) {
	.common_mainPanel .common_subNavBar ,
	.common_contentBlock h1,
	.common_contentBlock .separator{
		display: none;
	}
	.common_mainPanel  .common_contentBlock{
		margin: 0;
	}
	.common_contentBlock .container{
		margin: 0;
		padding-bottom: 30px;
		text-align: center;
		padding-top: 30px;
	}
	.common_contentBlock .container .block {
		width: auto;
		height:auto;
		margin-bottom: 10px;
		display: block;
		border: none;
		border-top: 1px solid #ddd;
		text-align: center;
	}
	.common_contentBlock .container .block:first-child{
		border-top: none;
	}
	.common_contentBlock .container .block{
		height: auto;
	}
	.common_contentBlock .container .block img{
		position: static;
	}
	.common_contentBlock .container .block .descriptBlock{
		margin: 0;
		text-align: center;
	}
	.common_contentBlock .container .block .descriptBlock h2{
		margin-top: 20px;
	}
	.common_contentBlock .container .block .operationBlock{
		height: auto;
		position: static;
		width: auto;
	}
	
	.common_contentBlock .container .block .descriptBlock p {
		text-align: center;
		height: auto;
		margin: 20px 20px 0 20px;
	}
	

	
}











