.common_mainPanel .stepNavBar{
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: 15px 30px 0 30px;
	border-bottom: 2px solid #e6e6e6;
}
.common_mainPanel .stepNavBar li{
	width: 33.33%;
	float: left;	
}
.common_mainPanel .stepNavBar li i{
	display: inline-block;
	width: 24px;
	height: 23px;
	background: url(../../../img/customer/icons.png);	
	vertical-align: middle;
	margin-right: 10px;
}
.common_mainPanel .stepNavBar li span{
	display: inline-block;
}
.common_mainPanel .stepNavBar .step01 i{
	background-position: -93px -84px;
}
.common_mainPanel .stepNavBar .step02 i{
	background-position: -93px -107px;
}
.common_mainPanel .stepNavBar .step03 i{
	background-position: -93px -130px;
}
.common_mainPanel .stepNavBar .step01.current i{
	background-position: -70px -84px;
}
.common_mainPanel .stepNavBar .step02.current i{
	background-position: -70px -107px;
}
.common_mainPanel .stepNavBar .step03.current i{
	background-position: -70px -130px;
}
.common_mainPanel .stepNavBar .current{
	border-bottom: 2px solid #df4141;
}

.common_mainPanel .formBlock{
	width: 440px;
	margin: 70px auto 0 auto;
}
.common_mainPanel .formBlock li{
	line-height: 30px;
	margin-bottom: 10px;
}
.common_mainPanel .formBlock .label{
	width: 135px;
	float: left;
	text-align: right;
}
.common_mainPanel .formBlock .inputGroup{
	margin-left:145px;
}
.common_mainPanel .formBlock .inputGroup .border{
	border: 1px solid #ddd;
	height: 28px;
	padding: 0 4px;
	line-height: 28px;
}
.common_mainPanel .formBlock .inputGroup .border.code{
	width: 80px;
	float: left;
}
.common_mainPanel .formBlock .inputGroup b{
	font-size: 18px;
	font-weight: normal;
}
.common_mainPanel .formBlock .inputGroup .border input[type='text'],
.common_mainPanel .formBlock .inputGroup .border input[type='password']{
	width: 100%;
	border: none;
}
.common_mainPanel .formBlock .inputGroup .warn{
	color: #f00;
	font-size: 12px;
	line-height: 20px;
	visibility: hidden;
}
.common_mainPanel .formBlock .inputGroup .hint{
	color: #666;
	visibility: visible;
}

.common_mainPanel .formBlock .inputGroup .verification{
	margin-left: 100px;
}
.common_mainPanel .formBlock .inputGroup .verification img{
	margin-right: 10px;
	border: 1px solid #000;
}
.common_mainPanel .formBlock .inputGroup .verification a{
	color: #666;
	font-size: 12px;
}
.common_mainPanel .formBlock .submitRow .inputGroup{
	text-align: center;
}
.common_mainPanel .formBlock .submitRow input[type='submit']{
	width: 136px;
	height:30px;
	border: none;
	background-color: #df4141;
	color: #fff;
	text-align: center;
	border-radius: 3px;
}

.common_mainPanel .sendMessageBlock{
	width: 350px;
	margin: 70px auto 0 auto;	
}
.common_mainPanel .sendMessageBlock .row02{
	font-size: 12px;
	color: #666;
	line-height: 40px;
}
.common_mainPanel .sendMessageBlock a{
	display: block;
	width: 136px;
	height:39px;
	line-height:39px;
	background-color: #df4141;
	color: #fff;
	text-align: center;
	margin: 30px auto 0 auto;
	border-radius: 3px;
}

.common_mainPanel .successMessage{
	text-align: center;
	margin-top: 85px;
}
.common_mainPanel .successMessage h1{
	font-size: 16px;
}
.common_mainPanel .successMessage div{
	font-size: 12px;
	color: #666;
	margin-top: 25px;
}
.common_mainPanel .successMessage div b{
	font-weight: normal;
	color: #df4141;
}

.bottomSpace{
	height: 120px;
}
.bottomSpace2{
	height: 240px;
}
@media only screen and (max-width: 785px) {
	
	.common_mainPanel .common_subNavBar,
	.common_mainPanel .stepNavBar li i {
		display: none;
	}
	.common_mainPanel .stepNavBar{
		margin: 0;
		color: #ccc;
	}
	.common_mainPanel .stepNavBar .current{
		background-color: #df4141;
		color: #fff;
	}
	.common_mainPanel .formBlock {
		width: auto;
		margin: 40px 10px 0 10px;
	}
	.common_mainPanel .formBlock .label {
		float: none;
		width: auto;
		text-align: left;
	}
	.common_mainPanel .formBlock .inputGroup{
		position:relative;
		margin-left: 0;
	}
	.common_mainPanel .formBlock .inputGroup .border.code {
		float:none;
		width: auto;
		margin-right:200px; 
	}
	.common_mainPanel .formBlock .inputGroup .verification{
		position:absolute;
		top:0;
		right:0;
		width: 190px;
		margin-left: 0;
	}
	.common_mainPanel .formBlock .submitRow{
		padding-top: 50px;
	}
	.common_mainPanel .formBlock .submitRow input[type="submit"] {
		width: 100%;
	}
	
	.common_mainPanel .sendMessageBlock{
		width: auto;
		margin: 70px 10px 0 10px; 
		text-align: center;
	}
	.common_mainPanel .sendMessageBlock a{
		width: auto;
	}
}


























