header .top_logoBlockHolder{
	height: 40px;
	display: none;
}
.common_rightPanel .categoryBar{
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ddd;
	line-height: 32px;
}
.common_rightPanel .categoryBar a{
	display: inline-block;
	width: 100px;
	text-align: center;
	color: #666;
}
.common_rightPanel .categoryBar .current{
	position:relative;
	color: 	#333;
	border-bottom: 2px solid #333;
	margin-bottom: -2px;
	font-weight: bold;
}
.common_rightPanel table{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #ddd;
	border-collapse:collapse;
}
.common_rightPanel table thead tr{
	height: 38px;
	line-height: 38px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}
.common_rightPanel table tbody td{
	text-align: center;
	padding: 10px 2px 10px 2px;
	line-height: 26px;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}

.common_rightPanel .mobileInfo{
	position:relative;
	display: none;
	margin: 10px 10px;
	border: 1px solid #ddd;
}
.common_rightPanel .mobileInfo img{
	position: absolute;
	top: 10px;
	left: 10px;
}
.common_rightPanel .mobileInfo .paramBlock{
	margin: 0 10px 0 100px;
	min-height: 110px;
	font-size: 12px;
	line-height: 20px;
	padding-top: 10px;
	width: auto;
}


.common_rightPanel .subTitleBar{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-top: 20px;
	font-weight: bold;
}
.common_rightPanel .paramBlock{
	font-size: 12px;
	width: 100%;
	margin-top: 20px;
}
.common_rightPanel .paramBlock li{
	line-height: 24px;
}
.common_rightPanel .paramBlock li .label{
	width: 160px;
	text-align: right;
	float: left;
}
.common_rightPanel .paramBlock li .content{
	margin-left: 165px;
}
.common_rightPanel .paramBlock li b{
	color: #df4141;
}

.common_mainPanel .bottomSpace{
	height: 120px;
}

@media only screen and (max-width: 785px) {
	.common_mainPanel .common_subNavBar,
	.common_pageContent .common_leftPanel,
	.common_rightPanel table{
		display: none;
	}	
	.common_pageContent .common_rightPanel{
		margin-left: 0;
	}
	.common_rightPanel .categoryBar{
		height: 40px;
		line-height:40px;
		background-color: #545454;
		border-top:1px solid #999;
		border: none;
	}
	.common_rightPanel .categoryBar a{
		display: block;
		float: left;
		width: 50%;
		text-align: center;
		color: #aaa;
	}
	.common_rightPanel .categoryBar .current{
		background-color: #333;
		color: #fff;
		border: none;
	}
	.common_rightPanel .mobileInfo{
		display: block;
	} 
	.common_rightPanel .subTitleBar{
		text-align: center;
	}
	.common_rightPanel .paramBlock li .label {
		width: 140px;
	}
	.common_rightPanel .paramBlock li .content{
		margin-left: 145px;
		margin-right: 10px;
	}
	header .top_logoBlockHolder{
		display: block;
	}
	.common_topNavigationBlock{
		position: fixed;
		left:auto;
		background: #000;
		top:0;
		width: 100%;
		z-index: 100;
	}
}












