header .top_logoBlockHolder{
	height: 40px;
	display: none;
}

.common_help_topTitlePanel{
	 margin-bottom: 10px;
}
.common_mainPanel h1{
	font-size: 14px;
	color: #e0183f;
	line-height: 40px;
}
.common_mainPanel p{
	color: #666;
	font-size: 12px;
	line-height: 20px;
}
.common_mainPanel p u{
	color: #333;
	text-decoration: none;
}
.common_mainPanel p b{
	color: #333;
	line-height: 30px;
	font-size: 14px;
}
.common_mainPanel p i{
	color: #e0183f;
	font-style: normal;
}
.bottomSpace{
	height: 120px;
}

@media only screen and (max-width: 785px) {
	header .top_logoBlockHolder,
	.common_mainPanel .mobileBlock{
		display: block;
	}
	.common_topNavigationBlock{
		position: fixed;
		left:auto;
		top:0;
		width: 100%;
		z-index: 100;
	}
	.bottomSpace{
		height: 40px;
	}
	.normolBlock{
		padding: 10px 10px;
	}
	
}