header .top_logoBlockHolder{
	height: 40px;
	display: none;
}
.common_help_rightPanel .common_help_contentBlock p b{
	font-size: 14px;
	color: #666;
}
.bottomSpace{
	height: 120px;
}

@media only screen and (max-width: 785px) {
	header .top_logoBlockHolder,
	.common_mainPanel .mobileBlock{
		display: block;
	}
	.common_topNavigationBlock{
		position: fixed;
		left:auto;
		top:0;
		width: 100%;
		z-index: 100;
	}
	.common_help_rightPanel .common_help_contentBlock{
		padding: 20px 10px;
	}
	.common_help_rightPanel .common_help_contentBlock h3{
		text-align: center;
	}
	.common_help_rightPanel .common_help_contentBlock p b{
		font-weight: normal;
		color: #333;
	}
	
	
	
}