header .top_logoBlock{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:150px;
	text-align: center;
	background:rgba(0,0,0,0.5);
	line-height: 107px;
	z-index: 10;
}
header .top_logoBlock img{
	width: auto;
	height: auto;
}
header .top_logoBlock h1{
	display: none;
	font-size: 18px;
}

header .mainNavBar{
	position:absolute;
	top:150px;
	left:0;
	width: 100%;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #666;
	height: 30px;
	text-align: center;
	background:rgba(0,0,0,0.5);
	z-index: 10;
}
header .mainNavBar li{
	display: inline-block;
	width: 125px;
}
header .mainNavBar a{
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 28px;
	font-size: 15px;
}
header .mainNavBar li .checked{
	border-bottom: 2px solid #fff;
	cursor: default;
}
header .subNavBar{
	position: absolute;
	top: 182px;
	left: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	background:rgba(0,0,0,0.4);
	z-index: 10;
}
header .subNavBar li{
	display: inline-block;
	width: 125px;
}
header .subNavBar a{
	color: #ff9999;
	display: inline-block;
	text-align: center;
	line-height: 28px;
	font-size: 15px;
	border-bottom: 1px solid transparent;
}
header .subNavBar li .checked{
	border-bottom: 2px solid #fff;
	cursor: default;
}

header .subNavBar li .subNavListBlock{
	position:absolute;
	width:100%;
	top: 30px;
	left:0;
	height:300px;
	background-color: rgba(0,0,0,0.6);
	z-index: 10;
	opacity: 0;
	visibility:hidden;
	transition: all 0.25s ease-out 0s;
}
header .subNavBar li:hover .subNavListBlock{
	opacity: 1;
	visibility:visible;
}
header .subNavBar li .subNavListBlock .viewBlock{
	position: absolute;
	left: 0;
	top:20px;
	bottom:10px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}
header .subNavBar li .subNavListBlock .viewBlock .labelBlock{
	position:relative;
	display: inline-block;
	width: 240px;
	height: 100%;
	vertical-align: top;
	border-right: 1px solid #666;
}
header .subNavBar li .subNavListBlock .viewBlock .labelBlock:first-child{
	border-left: 1px solid #666;
}
header .subNavBar li .subNavListBlock .viewBlock .labelBlock a{
	color:#bbb; 
	display: block;
	height:29px;
	line-height: 29px;
	text-align: left;
}
header .subNavBar li .subNavListBlock .viewBlock .labelBlock a span{
	margin-left: 20px;
}
header .subNavBar li .subNavListBlock .viewBlock .labelBlock .more{
	position: absolute;
	left:0;
	bottom:0;
	color: #fff;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
}
header .subNavBar li .subNavListBlock .viewBlock .labelBlock.second .more{
	display: none;
}
header .subNavBar li .subNavListBlock .viewBlock .labelBlock a:hover{
	color: #fff;
	text-decoration: underline;
}
header .subNavBar li .subNavListBlock .viewBlock .brandBlock{
	display: inline-block;
	width: 430px;
	height: 100%;
	vertical-align: top;
	white-space: normal;
}
header .subNavBar li .subNavListBlock .viewBlock .brandBlock a{
	display:inline-block;
	margin: 0 0 10px 10px;
}




header .top_switchPlaceholder{
	width: 100%;
	height: auto;
}
header .topSwitchViewBlock{
	position: absolute;
	width:100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
header .topSwitchViewBlock ul{
	position:absolute;
	left: 0;
	top: 0;
}
header .topSwitchViewBlock ul li{
	position:relative;
	float: left;
}
header .topSwitchViewBlock ul li a{
	display: block;
}
header .topSwitchViewBlock ul li img{
	width: 100%;
}
header .withchNavPanel{
	position:absolute;
	left:0;
	bottom: -14px;
	width:100%;
	height: 4px;
	text-align: center;
	line-height: 4px;
}
header .withchNavPanel a{
	display: inline-block;
	width: 80px;
	height: 4px;
	background-color: #fff;
	margin-left: 10px;
}
header .withchNavPanel a:first-child{
	margin-left: 0;
}
header .withchNavPanel .selected{
	background-color: #ff9999;
}

.common_mainPanel .subTitlePanel{
	height: 67px;
	text-align: center;
	color: #eee;
	border-bottom: 1px solid #333;
	padding-top: 63px;
}
.common_mainPanel .subTitlePanel h1{
	font-size: 28px;
	text-transform :uppercase;
}
.common_mainPanel .subTitlePanel span{
	font-size: 18px;
}
.common_mainPanel .actionBlock{
	position:relative;
	margin: 20px 3px 0 3px;	
}
.common_mainPanel .actionBlock .middle_placeholder{
	width: 100%;
}
.common_mainPanel .actionBlock a {
	display: block;
}
.common_mainPanel .actionBlock a img{
	width: 100%;
}
.common_mainPanel .actionBlock .block01{
	position:absolute;
	left:0;
	top:0;
	width: 33.37%;
	height: 66.50%;
}
.common_mainPanel .actionBlock .block01 a{
	margin: 0 3px 0 0;
}
.common_mainPanel .actionBlock .block02{
	position:absolute;
	left:33.37%;
	top:0;
	width: 66.62%;
	height: 33.49%;
}







@media only screen and (max-width: 1200px) {	
	header .subNavListBlock .viewBlock .labelBlock{
		width: 180px;
	}
	header .subNavBar li .subNavListBlock .viewBlock .labelBlock.last{
		display: none;
	}
	
	header .subNavBar li .subNavListBlock{
		height: 210px;
	}
	header .subNavBar li .subNavListBlock .viewBlock .labelBlock.second a:nth-child(n+6){
		display: none;
	}
	header .subNavBar li .subNavListBlock .viewBlock .labelBlock.second a.more{
		display: block;
	}
}

@media only screen and (min-width: 784px) and (max-width: 1020px) {	
	header .top_logoBlock{
		position: static;
		background: #000;
		height: 100px;
		line-height: 78px;
	}
	header .top_logoBlock img {
		width: 287px;
		height: 45px;
	}	
	header .mainNavBar {
		position: static;
		background: #000;
	}
	header .subNavBar {
		position: relative;
		background: #000;
		top:0;
	}
	
}


@media only screen and (max-width: 940px) {
	header .subNavBar li .subNavListBlock .viewBlock .brandBlock{
		width: 220px;
	}
	header .subNavBar li {
		width: 100px;
	}
}

@media only screen and (max-width: 785px) {
	header .top_logoBlock{
		position:static;
		height:40px;
		text-align: center;
		background:rgba(0,0,0,0.8);
		line-height: 34px;
		border-bottom: 1px solid #999;
	}
	header .top_logoBlock img{
		margin-left: 60px;
		width: 164px;
		height: 26px;
	}
	
	header .subNavBar{
		display: none;
	}
	header .mainNavBar{
		position: static;
	}
	header .mainNavBar li {
		width: 20%;
		font-size: 12px;
		white-space: nowrap;
	}
	header .top_logoBlock h1{
		display: inline-block;
		margin-left: 47px;
	}
	
	
}

