header .top_logoBlockHolder{
	height: 70px;
	display: none;
}
header .top_logoBlock{
	height:150px;
	text-align: center;
	background:rgba(0,0,0,0.5);
	line-height: 107px;
	z-index: 10;
}
header .top_logoBlock img{
	width: auto;
	height: auto;
}
header .top_logoBlock h1{
	display: none;
	font-size: 18px;
}
header .mainNavBar{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	height: 30px;
	text-align: center;
	background:rgba(0,0,0,0.3);
	z-index: 10;
}
header .mainNavBar li{
	display: inline-block;
	width: 125px;
}
header .mainNavBar a{
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 28px;
	font-size: 15px;
}
header .mainNavBar li{
	position: relative;
}
header .mainNavBar li .checked{
	border-bottom: 2px solid #fff;
	cursor: default;
}
header .popBlock{
	position: absolute;
	top:182px;
	left:0;
	width:100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-out 0s;
}
header .popBlock.show{
	visibility: visible;
	opacity: 1;
}
header .popBlock .contentBlock{
	position:relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
header .popBlock .contentBlock .holder{
	width: 100%;
}
header .popBlock .contentBlock .border{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
header .popBlock .contentBlock .border .more{
	position:absolute;
	font-size: 12px;
	color: #fff;
	right: 0;
	bottom: 5px;
}
header .popBlock .contentBlock .border ul li{
	width: 16.66%;
	float: left;
}	
header .popBlock .contentBlock .border ul li a{
	position:relative;
	display: block;
	margin-right: 10px;
}
header .popBlock .contentBlock .border ul li a img{
	width: 100%;
	max-width: 165px;
}
header .popBlock .contentBlock .border ul li a i{
	position:absolute;
	display: block;
	top:0;
	left:0;
	width: 100%;
	max-width: 165px;
	height: 100%;
	background: #000;
	opacity: 0.7;
	transition: opacity 0.25s ease-out 0s;
}
header .popBlock .contentBlock .border ul li a:hover i{
	opacity: 0;
}



.common_mainPanel .listBlock{
	margin: 30px 0 0 20px;
}
.common_mainPanel .listBlock li{
	position:relative;
	width: 25%;
	float: left;
	margin-bottom: 20px;
}
.common_mainPanel .listBlock li a{
	display: block;
	margin-right: 19px;
}
.common_mainPanel .listBlock li a img{
	width: 100%;
}

.common_mainPanel .loadingRow{
	text-align: center;
	color: #fff;
	visibility: hidden;
}

.bottomSpace{
	height: 120px;
}
@media only screen and (min-width: 784px) and (max-width: 1150px) {
	.common_mainPanel .listBlock li {
		width: 33.33%;
	}
}

@media only screen and (min-width: 784px) and (max-width: 1020px) {	
	header .top_logoBlock{
		position: static;
		background: #000;
		height: 100px;
		line-height: 78px;
	}
	header .top_logoBlock img {
		width: 287px;
		height: 45px;
	}
	header .mainNavBar {
		position: static;
		background: #000;
	}
	header .popBlock{
		top: 132px;
	}
}

@media only screen and (max-width: 785px) {
	header .top_logoBlockHolder{
		display: block;
	}
	header .top_logoBlock{
		position: fixed;
		left:auto;
		background: #000;
		height:40px;
		top:0;
		width:100%;
		text-align: center;
		line-height: 34px;
		border-bottom: 1px solid #999;
	}
	header .top_logoBlock img{
		margin-left: 60px;
		width: 164px;
		height: 26px;
	}
	header .mainNavBar{
		position: fixed;
		left:auto;
		background: #000;
		width:100%;
		height: 30px;
		top: 41px;
		border: none;
		line-height:20px;
		font-size: 12px;
	}
	header .mainNavBar li {
		width: 20%;
		font-size: 12px;
		white-space: nowrap;
	}
	.common_mainPanel .listBlock {
		margin: 20px 0;
	}
	.common_mainPanel .listBlock li {
		float: none;
		margin-bottom: 5px;
		width: auto;
		text-align: center;
	}
	.common_mainPanel .listBlock li a{
		display: inline-block;
		margin: 0;
		max-width: 351px;
	}
	header .popBlock{
		display: none;
	}

	
}


















